NEXT_PUBLIC_GROUND_CODES_API_URL=https://api.ground.codes
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_ROADMAP_ID=
GOOGLE_MAPS_NODEJS_API_KEY=
OPENWEATHER_API_KEY=
NEXT_PUBLIC_CESIUM_ION_TOKEN=
NEXT_PUBLIC_CESIUM_MOON_ASSET_ID=
NEXT_PUBLIC_CESIUM_MARS_ASSET_ID=
