@import "cesium/Build/Cesium/Widgets/widgets.css";

body {
  -webkit-overflow-scrolling: touch;
}

/* Remove Google from the Google Maps search bar */
.pac-container:after {
  background-image: none !important;
  height: 0px;
}

/* Remove the default X button in the Google Map Infowindow */
button.gm-ui-hover-effect,
.gm-style-iw-chr {
  display: none;
}
.gm-style-iw-d {
  padding-top: 12px;
}

/* Hide Google Maps default info window with aria-label */
.gm-style-iw[aria-label],
.gm-style-iw-c[aria-label] {
  display: none !important;
}

/* Glassmorphism for Google Map Infowindow */
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.gm-style .gm-style-iw-tc::after {
  background: transparent;
  border: none;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.planetary-3d-map.hide-cesium-ion-credit .cesium-credit-logoContainer,
.planetary-3d-map.hide-cesium-ion-credit .cesium-credit-textContainer,
.planetary-3d-map.hide-cesium-ion-credit .cesium-widget-credits {
  display: none !important;
}

@media (max-width: 640px) {
  .planetary-3d-map.has-selected-area .cesium-viewer-bottom {
    bottom: calc(86px + env(safe-area-inset-bottom, 0px)) !important;
  }
}
